@page "/buttontest"
@page "/buttons"



@inject IModalService _modalService;
@inject ModalManager _modalManager;

<h3>@title</h3>

<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">
            <CustomEditComponent OnClick="ChangeTitle" />
            <CustomEditComponent OnClick="ShowConfirmation" Caption="Edit Caption" Color="danger" Icon="pencil" IsSmall="false" />

            <AddNewButtonComponent />
        </div>
    </div>

</div>

@code {
    private string title = "";

    private async Task ChangeTitle()
    {
        await _modalManager.ShowMessageAsync("Show Message Title", "Record deleted", 3000);
    }
    private async Task ShowConfirmation()
    {
        bool result = await _modalManager.ShowConfirmationAsync("Confirmation", "Are you sure that it will be deleted?");
        title = result ? "Yes Just Clicked" : "No Just Clicked";

    }
}
