@page "/buttontest"
@page "/buttons"

<h3>ButtonTest</h3>

<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">
            <CustomEditComponent ButtonText="Test Edit Button" Color="primary" Icon="pencil-square-o" />
            <CustomEditComponent ButtonText="Edit Button" Color="danger" Icon="pencil"/>
            <button class="btn btn-danger">Danger Button</button>

        </div>
    </div>

</div>

@code {

}
