@page "/login"
@layout EmptyLayout

@inject ModalManager _modalManager;
@inject ILocalStorageService _localStorageService;
@inject AuthenticationStateProvider _authenticationStateProvider;

<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <EditForm Model="@userLoginRequestDTO" OnValidSubmit="@LoginProcess">
                <DataAnnotationsValidator />
                <div class="mb-3">
                    <input @bind-value="userLoginRequestDTO.Email" class="form-control form-control-lg" type="text" placeholder="Email">
                </div>
                <div class="mb-3">
                    <input @bind-value="userLoginRequestDTO.Password" class="form-control form-control-lg" type="password" placeholder="Password">
                </div>
                <button class="btn btn-info btn-block">Login</button>
            </EditForm>
        </div>
    </div>

</div>

@code {
    [Inject]
    HttpClient HttpClient { get; set; }

    [Inject]
    NavigationManager NavigationManager { get; set; }

    private UserLoginRequestDTO userLoginRequestDTO = new();

    private async Task LoginProcess()
    {
        HttpResponseMessage httpResponseMessage = await HttpClient.PostAsJsonAsync<UserLoginRequestDTO>("api/Users/Login", userLoginRequestDTO);
        if (httpResponseMessage.IsSuccessStatusCode)
        {
            try
            {
                ServiceResponse<UserLoginResponseDTO> serviceResponse = await httpResponseMessage.Content.ReadFromJsonAsync<ServiceResponse<UserLoginResponseDTO>>();

                if (serviceResponse.Success)
                {
                    await _localStorageService.SetItemAsync("token", serviceResponse.Value.ApiToken);
                    await _localStorageService.SetItemAsync("email", serviceResponse.Value.User.EmailAddress);

                    (_authenticationStateProvider as AuthStateProvider).NotifyUserLoginAsync(serviceResponse.Value.User.EmailAddress);
                    HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", serviceResponse.Value.ApiToken);
                    NavigationManager.NavigateTo("/");
                }


                else
                    _modalManager.ShowMessageAsync("Login Error", serviceResponse.Message);
            }
            catch (Exception ex)
            {
                _modalManager.ShowMessageAsync("Login Error", ex.Message);
            }
        }
    }
}
