@page "/"

@inject Blazored.LocalStorage.ILocalStorageService _localStorage

<PageTitle>Index</PageTitle>

<h1>Hello, world! Counter is @counter</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private int counter = 0;

    protected override async Task OnInitializedAsync()
    {
        counter = await _localStorage.GetItemAsync<int>("counter");
    }
}